.t-button {
	outline: none;
	border: none;
	cursor: pointer;
	background-color: transparent;
	padding: 0;
	transition: all var(--transition-time);
	display: flex;
	align-items: center;
	justify-content: center;
	&.sm {
		font-size: 0.75rem;
		.t-button-icon {
			font-size: 0.875rem;
		}
	}
	&.md {
		font-size: 1rem;
		.t-button-icon {
			font-size: 1.125rem;
		}
	}
	&.xl {
		font-size: 1.125rem;
		.t-button-icon {
			font-size: 1.25rem;
		}
	}
	&:disabled {
		opacity: 0.5;
		cursor: default;
	}
	&-inner-icon {
		margin-right: 0.25rem;
	}

	&.fill {
		border-radius: var(--border-radius);
		padding: 0 var(--padding-x);
		&.sm {
			height: 24px;
		}
		&.md {
			height: 32px;
		}
		&.xl {
			height: 40px;
		}
		&.primary {
			background-color: var(--primary);
			&:hover:not(:disabled) {
				background-color: var(--primary-hover);
			}
		}
		&.secondary {
			background-color: var(--secondary);
			&:hover:not(:disabled) {
				background-color: var(--secondary-hover);
			}
		}
		&.error {
			background-color: var(--error);
			&:hover:not(:disabled) {
				background-color: var(--error-hover);
			}
		}
		&.warning {
			background-color: var(--warning);
			&:hover:not(:disabled) {
				background-color: var(--warning-hover);
			}
		}
		&.light {
			background-color: var(--light);
			&:hover:not(:disabled) {
				background-color: var(--light-hover);
			}
		}
		&.opacity {
			background-color: var(--opacity);
			&:hover:not(:disabled) {
				background-color: var(--opacity-hover);
			}
		}
	}

	&.text {
		&.primary {
			color: var(--primary);
			&:hover:not(:disabled) {
				color: var(--primary-hover);
			}
		}
		&.secondary {
			color: var(--secondary);
			&:hover:not(:disabled) {
				color: var(--secondary-hover);
			}
		}
		&.error {
			color: var(--error);
			&:hover:not(:disabled) {
				color: var(--error-hover);
			}
		}
		&.warning {
			color: var(--warning);
			&:hover:not(:disabled) {
				color: var(--warning-hover);
			}
		}
		&.light {
			color: var(--light);
			&:hover:not(:disabled) {
				color: var(--light-hover);
			}
		}
	}

	&.outline {
		border: 1px solid;
		border-radius: var(--border-radius);
		padding: 0 var(--padding-x);
		&.sm {
			height: 24px;
		}
		&.md {
			height: 32px;
		}
		&.xl {
			height: 40px;
		}
		&.primary {
			border-color: var(--primary);
			color: var(--primary);
			&:hover:not(:disabled) {
				border-color: var(--primary-hover);
				color: var(--primary-hover);
			}
		}
		&.secondary {
			border-color: var(--secondary);
			color: var(--secondary);
			&:hover:not(:disabled) {
				border-color: var(--secondary-hover);
				color: var(--secondary-hover);
			}
		}
		&.error {
			border-color: var(--error);
			color: var(--error);
			&:hover:not(:disabled) {
				border-color: var(--error-hover);
				color: var(--error-hover);
			}
		}
		&.warning {
			border-color: var(--warning);
			color: var(--warning);
			&:hover:not(:disabled) {
				border-color: var(--warning-hover);
				color: var(--warning-hover);
			}
		}
		&.light {
			border-color: var(--light);
			color: var(--light);
			&:hover:not(:disabled) {
				border-color: var(--light-hover);
				color: var(--light-hover);
			}
		}
	}

	&.link {
		&.primary {
			color: var(--primary);
		}
		&.secondary {
			color: var(--secondary);
		}
		&.error {
			color: var(--error);
		}
		&.warning {
			color: var(--warning);
		}
		&.light {
			color: var(--light);
		}
		&:hover:not(:disabled) {
			text-decoration: underline;
		}
	}
	&.fill.circle,
	&.outline.circle {
		aspect-ratio: 1/1;
		border-radius: 50%;
		padding: 0;
	}
}
