.t-checkbox {
	min-width: 1rem;
	min-height: 1rem;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 2px solid var(--primary);
	color: var(--primary);
	&.disabled {
		opacity: 0.6;
		cursor: default;
	}
	&.sm {
		width: 1rem;
		height: 1rem;
		border-radius: 4px;
		border-width: 1.5px;
		font-size: 0.8rem;
	}
	&.md {
		width: 1.25rem;
		height: 1.25rem;
		min-width: 1.25rem;
		min-height: 1.25rem;
		border-radius: 6px;
		border-width: 1.5px;
		font-size: 1rem;
	}
	&.lg {
		width: 1.75rem;
		height: 1.75rem;
		min-width: 1.75rem;
		min-height: 1.75rem;
		border-width: 2px;
		border-radius: 8px;
		font-size: 1.5rem;
	}
}
