.t-switch {
	width: 2.75rem;
	height: 1.5rem;
	min-width: 2.75rem;
	min-height: 1.5rem;
	border-radius: 0.75rem;
	overflow: hidden;
	padding: 2px;
	display: flex;
	cursor: pointer;
	transition: background-color var(--transition-time);
	background-color: var(--neutral-500);
	&.active {
		background-color: var(--primary);
		.t-switch-control {
			transform: translateX(100%);
		}
	}
	&.disabled {
		opacity: 0.5;
		cursor: default;
	}

	.t-switch-control {
		transition: transform var(--transition-time);
		background-color: var(--neutral-50);
		border-radius: 50%;
		width: calc(1.5rem - 4px);
		height: calc(1.5rem - 4px);
	}
}
