* {
	font-family: system-ui, Arial, sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

html,
body {
	padding: 0;
	margin: 0;
}
