:root {
	--primary: #27ae60;
	--primary-hover: var(--green-500);
	--secondary: var(--neutral-200);
	--secondary-hover: var(--neutral-300);
	--error: var(--red-500);
	--error-hover: var(--red-600);
	--warning: var(--yellow-400);
	--warning-hover: var(--yellow-500);
	--light: var(--slate-50);
	--light-hover: var(--slate-100);
	--opacity: #6c727550;
	--opacity-hover: #2f313180;

	--text-color: var(--neutral-800);

	--border-radius: 8px;
	--padding-x: 0.7rem;
	--padding-y: 0.4rem;
	--transition-time: 0.3s;
	--box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

[data-theme='dark'] {
	--text-color: var(--neutral-50);
}
